Service3/Service References/mailService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://drini-desktop.gotdns.com:1555/EmailReminderService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://drini-desktop.gotdns.com:1555/EmailReminderService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://drini-desktop.gotdns.com:1555/EmailReminderService/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_addEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:addEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_addEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sendEmailToList_InputMessage">
    <wsdl:part name="parameters" element="tns:sendEmailToList" />
  </wsdl:message>
  <wsdl:message name="IService1_sendEmailToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendEmailToListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMailingList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMailingList" />
  </wsdl:message>
  <wsdl:message name="IService1_getMailingList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMailingListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:removeEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_removeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="addEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addEmail" message="tns:IService1_addEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addEmailResponse" message="tns:IService1_addEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendEmailToList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sendEmailToList" message="tns:IService1_sendEmailToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sendEmailToListResponse" message="tns:IService1_sendEmailToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMailingList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMailingList" message="tns:IService1_getMailingList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMailingListResponse" message="tns:IService1_getMailingList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeEmail" message="tns:IService1_removeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeEmailResponse" message="tns:IService1_removeEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/addEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendEmailToList">
      <soap:operation soapAction="http://tempuri.org/IService1/sendEmailToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailingList">
      <soap:operation soapAction="http://tempuri.org/IService1/getMailingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/removeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://drini-desktop.gotdns.com:1555/EmailReminderService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>